*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: rgb(6,67,152);
	background: linear-gradient(90deg, rgba(6,67,152,0.9416141456582633) 0%, rgba(61,9,121,1) 46%, rgba(149,14,172,1) 100%);
}

.container{
	display: flex;
	height: 550px;
	width: 900px;
	border: 1px solid black;
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
	background-color: whitesmoke;
	border-radius: 20px;
}

.left{
	display: flex;
/*	background-color: blue;*/
	width: 65%;
}


.form{
	display: flex;
	flex-direction: column;
	width: 70%;
/*	align-items: center;*/
/*	background-color: whitesmoke;*/
	border-radius: 20px;
	padding-left: 20px;

}

.left p{
	margin-left: 15px;
}

.box{
	padding: 12px;
	width: 80%;
	margin: 15px;
	border: 1px solid black;
	outline: none;
	border-radius: 10px;
}

.form label{
	margin-left: 15px;
}

#submit{
	padding: 12px 40px;
	width: 50%;
	background-color: #f2aaef;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 20px;
	margin-left: 50px;
}

.form a{
	text-decoration: none;
	color: skyblue;
	margin-top: 20px;
/*	justify-content: center;*/
/*	margin-left: 50px;*/

}


.sign-btn{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	align-items: center;
}

.sign-btn button{
	padding: 12px 30px;
/*	width: 40%;*/
/*	background-color: #f2aaef;*/
	color: blue;
	font-weight: bold;
	border: 1.5px solid blue;
	outline: none;
	border-radius: 20px;
	margin: 10px;
	
}


.form h3{
	font-size: 2rem;
	margin: 15px;
}

.form h2{
	font-size: 2rem;
/*	font-family: Impact, sans-serif, 'Arial Bold';*/
	margin: 20px;

}

.form a{
	text-decoration: none;
	color: skyblue;
	margin-top: 20px;
/*	justify-content: center;*/
	margin-left: 50px;

}


.right{
	display: flex;
	background-color: #41b5a9;
	width: 35%;
	border-radius: 20px;
}

.imgcss{
	display: flex;
	margin-left: -300px;
	justify-content: center;
	align-items: center;
/*	width: 80%;*/
}



@media(max-width:730px){
	
	
.container{
	width: 730px;
/*	background-color: blue;*/
}


.left{
	width: 730px;
/*	background-color: red;*/
}



.right{
	position: absolute;
	opacity: -1;
	width: 730px;

/*	background-color: red;*/
	width: 35%;
	border-radius: 20px;
}

.imgcss{

	width: 730px;
	height: 730px;
	margin-left: 200px;
	opacity: 1;
}

.form{
	width: 730px;
}


}
